* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "nunito";
  color: #112d4e;
}

body {
  background-color: #f9f7f7;
}

.header {
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  color: #112d4e;
  background-color: #dbe2ef;
  align-items: center;
  border-bottom: 2px solid #112d4e;
}

.navigation {
  background-color: #f9f7f7;
  height: 3em;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 0 1em;
}

.navigation a {
  font-size: 1.25em;
  display: block;
  background-color: transparent;
  padding: 0.5em 1em;
}

.navigation a:link {
  text-decoration: none;
  color: #112d4e;
}

.navigation a:visited {
  color: #112d4e;
}

.navigation a:focus {
  text-decoration: none;
  color: #112d4e;
}

.navigation a:hover {
  text-decoration: none;
  color: #112d4e;
  background-color: #dbe2ef;
}

.navigation a:active {
  text-decoration: none;
  color: #112d4e;
}

h1 {
  padding: 0 0 0 0.5em;
  font-weight: normal;
}

.dropdown {
  position: relative;
}

.dropdown-options {
  justify-self: flex-start;
  position: absolute;
  background-color: #f9f7f7;
  display: none;
  min-width: 6em;
  z-index: 1;
}

.dropdown:hover .dropdown-options {
  display: block;
}
